.module-title {
    color: #4CAF50;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}
.module-button {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

.module-button2 {
    background-color: #f44336;
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

.module-paragraph {
    font-size: 16px;
    line-height: 1.5;
    color: #333333;
}
.module-container {
    padding: 20px;
    border: 2px solid #f1f1f1;
    border-radius: 5px;
    background-color: #fafafa;
    text-align: center;
}